* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: #221F1F;
}

#border {
    margin: 25px auto;
    padding: 10px;
    padding-left: 15px;
    border: rgb(236, 130, 55) solid 3px;
    width: 400px;
}

h1 {
    color: chocolate;
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 10px;
    text-shadow: 3px 1px 2px antiquewhite;
}

.display-name {
    color: rgb(216, 156, 27);
    margin-top: 15px;
    font-size: 20px;
    display: block;
}

.input-color {
    border-color: chocolate;
    border-radius: 5px;
    padding-left: 5px;
    background-color: antiquewhite;
}

#cor {
    color: rgb(216, 156, 27);
    margin-top: 15px;
    font-size: 20px;
}

.input-color-option-1 {
    border-color: chocolate;
    border-radius: 5px;
    background-color: antiquewhite;
}
.input-color-option-2 {
    margin-bottom: 15px;
}
.input-color-option-3 {
    border-color: chocolate;
    border-radius: 5px;
    padding-left: 5px;
    background-color: antiquewhite;
    width: 250px;
}
.input-color-option-4 {
    border-color: chocolate;
    border-radius: 5px;
    padding-left: 5px;
    background-color: antiquewhite;
    margin-bottom: 15px;
}
.input-color-position {
    border-color: chocolate;
    border-radius: 5px;
    padding-left: 5px;
    background-color: antiquewhite;
    position: relative;
}

span {
    border: chocolate solid 2px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: antiquewhite;
}

#reset {
    width: 60px;
    height: 25px;
    border-color: antiquewhite;
    color: black;
    box-shadow: 0 0 40px 40px antiquewhite inset, 0 0 0 0 antiquewhite;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}
#reset:hover {
    box-shadow: 0 0 10px 0 #e22d2d inset, 0 0 10px 4px #e22d2d;
    background-color:#e22d2d7a;
    width: 80px;
    height: 35px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#submit {
    width: 110px;
    height: 25px;
    border-color: antiquewhite;
    color: black;
    box-shadow: 0 0 40px 40px antiquewhite inset, 0 0 0 0 antiquewhite;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}
#submit:hover {
    box-shadow: 0 0 10px 0 #21fa21 inset, 0 0 10px 4px #21fa21;
    background-color: #21fa219a;
    width: 130px;
    height: 35px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}